<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Joochify" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Joochify" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
    </header>
    <main role="main">
			<div class="container">
       <%= render 'layouts/messages' %>
				<div class="row">
					<div class="col-xs-12" id="mobile-content">
       			<%= yield %>
					</div>
				</div>
			</div>
    </main>
		<div class="container">
			<%= render :partial => "layouts/footer" %>
		</div>
  </body>
</html>
