<p id="notice"><%= notice %></p>

<p>
  <strong>Input:</strong>
  <%= @parola.input %>
</p>

<p>
  <strong>Output:</strong>
  <%= @parola.output %>
</p>

<%= link_to 'Edit', edit_parola_path(@parola) %> |
<%= link_to 'Back', parolas_path %>
